/* col-1 */
.hr-long{
     padding-bottom:0px ;
     margin-bottom:0px ;
     margin-right:50px;
}
.content-hr1{
    margin-left: 50px;
    margin-top: -4px;
    margin-bottom:0px;
}
.content-col1{
    padding-left:30px;
    padding-right:0px;
    padding-bottom:20px;
}
.row-1{
}
.row-2{
    padding-top:5px;
    
}
.text-my-semi-5{
    text-align: center;
    line-height: 26.4px;
    padding-top: 0;
    padding-bottom:0px;
    padding-right:90px;
    padding-left:90px;
    padding-top:15px;

}
.content-card{
    padding-right:60px;
    width: auto;
    border: none;
    border-radius:none;
}
.content-card-img{
    height: 250px;
    overflow: hidden;
    background-position: center;
    border-radius:none;
}
.content-img{
    height: auto;
    width: 100%;
    overflow: hidden;
}
.content-img1{
    height: auto;
    width: 100%;
    overflow: hidden;
}
.card-body-1{
    padding:0px;
    margin-bottom:20px;
}
.text-my-semi-6{
    padding-top:10px; 
    margin-bottom:8px; 
    padding-left:20px; 
    padding-right:20px;
    text-align: center;
    line-height:19.96px;
}
.hr4{
    padding:0px;
    margin-bottom:0px;
}
.text-my-regular{
    text-align: center;
    line-height:18.64px;
}
.text-my-bold-1{
    margin-right:12px;
}
.content-col-3-button1{
    margin-top:-5px;
    height:20px;
}
.text-samsung-bold{
    font-size: 13.05px;
    line-height:15.66px;
    color:#F15A22;
    padding-right:10px;
}

/* col-2 */
.content-col2{
    padding-left: 0px;
    padding-right: 20px;
    margin-top:-1px;
}
.content-col2-row3{
    padding-top:12px;
    text-align:right ;
    margin-bottom:0px; 
}
/* col3 */
/* menu */
a.nav-left{
     color:#231F20;
     font-family: SFDisplay-Regular;
    font-size: 15px;
    line-height:18px;
    background-color: transparent; 
}
.nav-pills .nav-link.active{
    position: relative;
    color:#231F20;
    background-color:transparent !important;
}
.nav-pills .nav-link.active::after{
     content :"";
    background-color: #FD9701;
    width: 37px;
    height: 4px;
    position: absolute;
    display: block;
    left:50%;
    transform: translateX(-50%)
}
.nav-pills .nav-item::after {
    position: absolute;
    content: "|";
    color: black;
    justify-content: center;
    vertical-align: top;
    margin-top:-15px;
}
.nav-pills .nav-item:nth-child(1)::after {
  content: "";
}
.nav-pills .nav-item:nth-child(3)::after {
  content: "";
}
.nav-pills .nav-link.active:nth-child(3)::after {
  background-color: none;
  width: 0px;
    height: 0px;
}
/*  */
.col-3-button-2{
    margin-left:5px;
}
.hr-long2{
    margin-top:-23px; 
    margin-bottom:0px;
    margin-right: 0px;
}
a.text-my-regular-4{
    color:black;
    text-decoration:none;
}
a.text-my-regular-4::after{
    content :"";
    display:block;
    background-color: #FD9701;
    width: 60%;
    height: 3px;
    opacity: 0;
    margin-left:15px;
    color: #F15A22;
}
a.text-my-regular-4:hover::after{
   opacity: 1;
}
a.text-my-regular-4:hover{
   color: #F15A22;
    text-decoration:none;
}
.button-gray-scale{
    width: 13px;
    filter:grayscale(100%);
    margin-top:5px;
}
.text-my-regular-4{
    font-size: 14px;
}
.col-3-button-red{
width: 23px;
}
.col-3-text{
    text-align:left; 
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top:0px;
}
.text-my-regular-5{
    text-indent: 5px;
    text-align: justify;
    margin-bottom:0px ;
    padding-bottom:0px;
    padding-top:0px;
    margin-top:0px;
    line-height: 16px;
    font-size: 13.5px;
}
.text-my-regular-3{
    font-size: 12px;
}
.text-my-bold-1{
    font-family: iCielSamsungSharpSans-Bold;
    font-size: 13px;
}
.img-1{
    height: auto;
}
 .r-3-1{
     padding-left: 15px;
     padding-right: 15px;
     margin-top:5px;
 }
.col-5-1{
    padding-right:0px;
    padding-left:0px;
    margin-top:12px;
}
.col-7-1{
    padding-top:11px;
    padding-left:5.5px;
    padding-right: 0px;
    margin-right:0px;
}
.padding-fb{
    padding-top:20px;
}
.facebook{
    width: auto;
    height:500px;
    border:none;
    overflow:hidden;
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
 .r-3-1{
     padding-left: 15px;
     padding-right: 15px;
 }
 .card-body-1{
    padding:15px ;
    margin:15px;
}
.content-card-img {
    height: auto;
}
    .hr-long{
     padding-bottom:0px ;
     margin-bottom:0px ;
     margin-right: 30px;
}
.col-3-button-2{
    margin-left:0px;
}
.col-3-button-red{

    width: 17px;
}
.text-my-semi-5{
    text-align: center;
    line-height: 25px;
    padding: 0px 50px;
}
a.nav-left{
    font-size: 8px;
}
.text-my-regular-5{
    font-size:10px;
    line-height: 13px;
    padding-right:5px;
}
.text-my-regular-3{
    font-size:9px;
}
.text-my-bold-1{
    font-size:10px;
}
.col-3-text{
    margin-top:-5px;
}
.padding-fb{
    padding-right:15px;
}
.r-3-1{
     padding-left: 15px;
     padding-right: 15px;
 }
 
 .content-col2{
    padding-right: 0px;
}
.hr-long2{
    margin-top:-23px; 
    margin-bottom:0px;
    margin-right: 0px;
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
 .r-3-1{
     padding-left: 0px;
     padding-right: 0px;
 }
 .card-body-1{
    padding:10px ;
    margin:10px;
}
 .hr-long{
     padding-bottom:0px ;
     margin-bottom:0px ;
    margin-right: 60px;
}
.content-card-img {
    height: auto;
}
.text-my-semi-5{
    text-align: center;
    line-height: 25px;
    padding: 0px 40px;
}
.col-3-text{
    text-align:left; 
    padding-left: 20px;
    margin-top:10px;
}
.text-my-regular-5{
    margin-top:20px;
    padding-right:160px;
    padding-left: 20px;
    text-indent: 0px;
}
.padding-fb{
    padding-left:15px;
    padding-right:15px;
}
.content-col1{
    padding-left: 30px;
}
 .content-col2{
    padding-left: 30px;
    padding-right: 0px;
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
.text-my-semi-5{
    text-align: center;
    line-height: 25px;
    padding: 0px 40px;
}
    .hr-long{
     padding-bottom:0px ;
     margin-bottom:0px ;
     margin-right: 0px;
}
.card-body-1{
    padding:10px ;
    margin:10px;
}
.text-my-semi-5{
    text-align: center;
    line-height: 25px;
    padding-left:0px;
}
.r-3-1{
     padding-left: 0px;
     padding-right: 0px;
 }
  .content-col1{
    padding-left: 60px;
}
  .content-col2{
    padding-left: 60px;
    padding-right: 0px;
}
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .col9-res{
     padding-left:0px;
     padding-right:0px;
 }
    .content-col1{
    padding-left: 0;
    padding-left: 0;
    }
    .content-col2{
    padding-left: 0;
    padding-left: 0;
}
.content-card{
    padding-right:0px;
}
    .content-card-img{
    height: auto;
    overflow: hidden;
    background-position: center;
    border-radius:none;
    }
    .card-body-1{
    padding:5px ;
    margin:5px;
}
.hr-long{
     padding-bottom:0px ;
     margin-bottom:0px ;
     margin-right: 0px;
}
.text-my-semi-5{
    line-height: 25px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left:0px;
    font-size: 20px;
    text-align: center;
}
 .r-3-1{
     padding-left: 0px;
     padding-right: 0px;
 }
  .content-col1{
    margin-left: 0px;
    padding-right: 0px;
}
  .content-col2{
    margin-left: 0px;
    padding-right: 0px;
}
.text-my-semi-6{
    padding-left: 0px;
    padding-right: 0px;
}
}







