:root {
  --orange1: #ff3600;
  --orange2: #f15a22;
  --orange3: #fd9701;
}
a:hover {
  text-decoration: none !important;
}
.color-orange{
    color:#FD9701;
}
.color-red{
    color:#F15A22;
}
.color-content{
    color:#58595b;
}
.color-text-c{
  color:#59595c;
}
.color-text-1{
  color:#404041;
}
.re12{
    font-size:12.66px;
    line-height: 15.52px;
    font-family:SFDisplay-Regular;
}
.re13{
    font-size:13px;
    line-height: 15.6px;
    font-family:SFDisplay-Regular;
}
.re14{
    font-size:14px;
    line-height: 16.8px;
    font-family:SFDisplay-Regular;
}
.re15{
    font-size:15.53px;
    line-height: 18.63px;
    font-family:SFDisplay-Regular;
}
.re16{
    font-size:16px;
    line-height: 19.2px;
    font-family:SFDisplay-Regular;
}
.me16{
    font-size:16px;
    line-height: 19.2px;
    font-family:SFDisplay-Medium;
}
.se15{
    font-size:15.53px;
    line-height: 18.63px;
    font-family:SFDisplay-SemiBold;
}
.se21{
    font-size:21px;
    line-height: 25.2px;
    font-family:SFDisplay-SemiBold;
}
.se27{
    font-size:27px;
    line-height: 32.4px;
    font-family:SFDisplay-SemiBold;
}
.bo15{
    font-size:15.53px;
    line-height: 18.63px;
    font-family:SFDisplay-Bold;
}
.bo18{
    font-size:18px;
    line-height: 21.6px;
    font-family:SFDisplay-Bold;
}
.bo19{
    font-size:19px;
    line-height: 22.8px;
    font-family:SFDisplay-Bold;
}
.bo20{
    font-size:20px;
    line-height: 24px;
    font-family:SFDisplay-Bold;
}
.bo33{
    font-size:33px;
    line-height: 33.96px;
    font-family:SFDisplay-Bold;
}
.ss7{
    font-size:7.92px;
    line-height:9.51px;
    font-family:samsung-bold;
}
.ss16{
    font-size:16px;
    line-height: 19.2px;
    font-family:samsung-bold !important;
}
.ss13{
    font-size:13.51px;
    line-height:15.66px;
    font-family:samsung-bold;
}

.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.container{
    max-width: 1200px !important;
    box-sizing: border-box;
}
.container-1{
    width: 1234px;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}
header .navbar-collapse{
  margin-top:-50px;
  padding-bottom: 10px;
  height: 50px;
}
header .navbar-toggler{
  float: right;
  margin-top:10px;
  color:white !important;
  outline:none !important;
}
header .navbar a {
  color: white;
}
header .nav-item {
  padding-left: 2px;
  padding-right: 2px;
}
header .nav-item::after {
  content: "|";
  font-size: 18.79px;
  color: white;
  font-weight: 200;
  justify-content: center;
  vertical-align: top;
  font-family: SFDisplay-Thin;

}
header .dropdown .fa-search:hover{
  color:pink;
}
header .nav-item:nth-child(6)::after,
header .nav-item:nth-child(7)::after {
  content: "";
}
header .nav-link {
  display: inline !important;
}
header a.nav-link {
  font-weight: lighter;
  font-family: SFDisplay-SemiBold;
  line-height: 22.55pt;
  font-size: 18.79px;
}
header .search {
  padding-left: 15px;
}
.carousel-indicators li {
    width: 13px !important;
    height: 13px !important;
    border-radius: 50% !important;
    background-color: rgb(28, 248, 219) !important;
    margin: auto 9px;
}
.carousel-indicators .active {
    border: 2px solid #00FFEC!important;
    border-radius: 50%!important;
    border-left: 2px solid transparent!important;
    width: 40px!important;
    height: 40px!important;
    background-color: transparent !important;
    animation: spin 2s linear infinite;
    box-sizing: border-box;
    padding:3px;
}
.carousel-indicators span{
    display:none;
    font-family:samsung-bold;
    text-align: center!important;
    font-size: 20px !important;
    text-indent: initial!important;
    background: linear-gradient(to bottom right, #009CFF,#008FFF,#002A9A);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: no-spin 2s linear infinite!important;
}
.carousel-indicators .active span{
    display: block;
}
@keyframes spin {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }
@keyframes no-spin {
    from {
      transform: rotate(360deg)
    }
    to {
      transform: rotate(0deg)
    }
  }
  .font-bold {
  font-family: SFDisplay-Bold;
}
.footer {
  background-image: url("../img/footer.png");
  background-size: cover;
  min-height: 320px;
  color: white;
  background-repeat: no-repeat;
  font-size: 17.29px;
  padding-top: 40px;
  font-family: SFDisplay-Regular;
}
.footer a {
  color: white;
}
.dot-footer {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0.5px solid white;
  opacity: 0.5;
  width: 80%;
}
.dot-footer::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1.5px solid white;
  padding: 4px;
  margin-top: -6px;
  margin-left: 50%;
  background-image: linear-gradient(to right bottom, #0db04b, #037762);
}
.border-light-left {
  position: absolute;
  z-index: 1111;
  top: 28%;
  left: -36%;
  margin: 100px 100px;
  width: 200px;
  height: 4px;
  background-image: linear-gradient(to right, aqua, transparent);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.border-light-left::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  padding: 5px;
  width: 2px;
  height: 2px;
  background-color: white;
  left: 0;
  top: -2.5px;
  box-shadow: 0 0 5px 2px white, 0 0 7px 3px aqua,
    0 0 20px 5px rgb(169, 245, 245);
}
.border-light-nav1,
.border-light-nav2,
.border-light-nav3,
.border-light-nav4,
.border-light-nav5,
.border-light-nav6 {
  display: none;
  position: absolute;
  top: -37px;
  z-index: 3;
  margin: 100px 0px;
  width: 170px;
  height: 4px;
  background-image: linear-gradient(to left, aqua, transparent);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.border-light-nav1::after,
.border-light-nav2::after,
.border-light-nav3::after,
.border-light-nav4::after,
.border-light-nav5::after,
.border-light-nav6::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  padding: 4px;
  width: 2px;
  height: 2px;
  background-color: white;
  right: 0;
  top: -2.5px;
  box-shadow: 0 0 5px 2px white, 0 0 7px 3px aqua, 0 0 20px 5px rgb(169, 245, 245);
}
@keyframes vet1{
  from {left: 30%;}
  to {left:44%}
}
@keyframes vet2{
  from {left: 35%;}
  to {left:50.6%}
}
@keyframes vet3{
  from {left: 40%;}
  to {left:56.3%}
}
@keyframes vet4{
  from {left: 45%;}
  to {left:63.7%}
}
@keyframes vet5{
  from {left: 50%;}
  to {left:73.3%}
}
@keyframes vet6{
  from {left: 55%;}
  to {left:79%}
}
.nav-item:hover .border-nav {
  display: block;
}
.border-light-nav1 {
  animation: vet1 1s both -0.5s;
}
.border-light-nav2 {
  animation: vet2 1s both -0.5s;
}
.border-light-nav3 {
  animation: vet3 1s both -0.5s;
}
.border-light-nav4 {
  animation: vet4 1s both -0.5s;
}
.border-light-nav5 {
  animation: vet5 1s both -0.5s;
}
.border-light-nav6 {
  animation: vet6 1s both -0.5s;
}


.border-light-right {
  position: absolute;
  z-index: 1;
  top: 37%;
  left: 1%;
  margin: 100px 100px;
  width: 265px;
  height: 4px;
  background-image: linear-gradient(to left, aqua, transparent);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.border-light-right::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  padding: 5px;
  width: 2px;
  height: 2px;
  background-color: white;
  right: 0;
  top: -2.5px;
  box-shadow: 0 0 7px 2px white, 0 0 8px 4px aqua, 0 0 20px 5px rgb(169, 245, 245);
}
.border-light {
  display: none;
  position: absolute;
  z-index: 1;
  top: 3%;
  left: -15%;
  margin: 100px 100px;
  width: 100px;
  height: 1.5px;
  background-image: linear-gradient(to left, aqua, transparent);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.border-light::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
  right: 0;
  top: -1.5px;
  box-shadow: 0 0 4px 1px white, 0 0 5px 3px aqua, 0 0 20px 5px rgb(169, 245, 245);
}
.border-light-choice {
  display: none;
  position: absolute;
  z-index: 2;
  top: -5.5%;
  left: -11.5%;
  margin: 100px 100px;
  width: 100px;
  height: 1.5px;
  background-image: linear-gradient(to left, aqua, transparent);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.border-light-choice::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
  right: 0;
  top: -1.5px;
  box-shadow: 0 0 4px 1px white, 0 0 5px 3px aqua, 0 0 20px 5px rgb(169, 245, 245);
}
#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
}
#myInput:focus {
  outline: 3px solid #ddd;
}
.dropdown {
  position: absolute;
  display: inline-block;
}
.dropbtn{
  background: transparent;
  color: white;
  outline: none !important;
  border: none
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  max-width: 400px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  left:-220px;
  top:50px;
}
.dropdown-button{
  border:none;
  outline:none !important;
  background-color: transparent;
}
.dropdown-button:hover{
  filter: saturate(10);
  cursor: pointer;
}
.show {
  display: block;
  float: right
}
@media screen and (max-width: 1200px) {
  /* .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  } */
  .container-1{
    max-width: 1200px !important;
  }
  .btn-group-vertical{
        display:none;
    }
}
@media screen and (max-width: 992px) {
  .row {
    margin: 0 !important;
  }
  header .navbar-collapse{
    height: auto;
    background-image: linear-gradient(to right, #0db143,#006768) !important;
    margin-top:20px;
    width: 100%;
    padding-left: 20px;
    /* width: auto; */
}
.carousel-inner{
  bottom:30px;
}
.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    margin: auto 5px;
}
.carousel-indicators .active {
    width: 30px!important;
    height: 30px!important;
    padding:2px;
}
.carousel-indicators .active span{
    font-size: 15px !important;
}
 /* header .navbar-fixed-top{
    background-image: linear-gradient(to right, #0db143,#006768) !important;
  } */
  header .header-logo{
    width: 40%;
    height: auto;
  }
  header .navbar-nav{
  
  }
  header .nav-item{
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .container-1{
    max-width: auto !important;
  }
  header .nav-item::after {
    content: "" !important;
  }
  .dot-mid {
    margin-top: 50px;
  }
  .footer {
    text-align: center;
    background-image: linear-gradient(to right bottom, #0db04b, #037762);
    padding-bottom:50px ;
  }
  .dot-footer {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  
}
@media screen and (max-width: 576px) {
  footer .map_gsot{
    width: 100% !important;
    height: 100% !important;
  }
}
